.header {
	height: 75px;
	position: relative;
	border: 2px solid #ff4656;
	z-index: 22;
}
/* @media only screen and (min-width: 1500px) {
	.header {
		margin-bottom: 20px;
	}
} */

.header:after {
	content: "";
	background: #1f2326;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 3;
}
.header__contant {
	display: flex;
	padding: 0 40px;
	height: 100%;
}

.link__list {
	display: flex;
	width: 50%;
	justify-content: space-between;
	align-items: center;
}
.link_item {
	font-size: 20px;
	cursor: pointer;
	color: #fff;
	position: relative;
	z-index: 4;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	transition: all 0.5s ease;
}
.header__item {
	text-decoration: none;
	position: relative;
	z-index: 5;
}
.header__item:after {
	content: "";
	position: absolute;
	right: -10px;
	top: -7px;
	display: inline-block;
	width: 2px;
	height: 40px;
	background-color: #fe4656;
}
.header__item:before {
	content: "";
	position: absolute;
	left: -10px;
	top: -7px;
	display: inline-block;
	width: 2px;
	height: 40px;
	background-color: #fe4656;
}

.link_item:hover {
	color: #fff;
	text-shadow: 0px 0px 4px rgb(243, 234, 234);
}
